node_modules/
dist/
.temp/
.rn_temp/
.swc/
*.log
.DS_Store
.idea/
.vscode/
*.local
server/node_modules/
server/.env
server/.env.*
!server/.env.example
server/dist/
server/data/
project.private.config.json
.turbo/
